@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap');

/* Loading screen styles */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #597445; /* Loading screen color */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure it covers the whole page */
    transition: transform 1s ease-out; /* Sliding effect */
}

.loading-logo {
    width: 150px; /* Adjust size as needed */
    height: auto;
}

/* Hide the loading screen */
.loading-screen.hide {
    transform: translateY(-100%);
}

/* Rest of your CSS code */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: space-between; /* Space between items */
  height: 100vh;
  background-color: #E7F0DC;
  padding: 0 2rem; /* Add padding to container */
}

.page1-text-content {
  opacity: 15%;
  color: #729762;
}

.page1-text-content p {
  margin: 0;
  font-size: 23vh;
  line-height: 0.72;
  font-family: "Raleway Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Hide extra text in desktop view */
.extra {
  display: none;
}

/* Page 1 right text styles */
.page1-right-text {
  color: #597445;
  font-size: 12vh; /* Adjust font size as needed */
  font-family: "Beiruti", sans-serif;
  text-align: right;
  width: 40%; /* Adjust width as needed */
}

/* iPad view - 10 times */
@media (min-width: 769px) and (max-width: 1024px) {
  .page1-text-content {
    position: relative; /* Ensure that the container is positioned relatively */
  }

  .page1-text-content p {
    font-size: 10vh;
    line-height: 0.9;
  }

  .extra {
    display: block;
  }

  .page1-right-text {
    position: absolute; /* Position the text absolutely within the parent container */
    top: 40%; /* Adjust as needed */
    right: 0; /* Align to the right */
    color: #597445;
    font-size: 6vh; /* Adjust font size as needed */
    font-family: "Beiruti", sans-serif;
    text-align: right;
    width: 100%; /* Adjust width as needed */
    padding-right: 2vh;
  }
}

/* Mobile view - 10 times */
@media (max-width: 768px) {
  .page1-text-content {
    position: relative; /* Ensure that the container is positioned relatively */
  }

  .page1-text-content p {
    font-size: 10vh;
    line-height: 0.9;
  }

  .extra {
    display: block;
  }

  .page1-right-text {
    position: absolute; /* Position the text absolutely within the parent container */
    top: 40%; /* Adjust as needed */
    right: 0; /* Align to the right */
    color: #597445;
    font-size: 6vh; /* Adjust font size as needed */
    font-family: "Beiruti", sans-serif;
    text-align: right;
    width: 100%; /* Adjust width as needed */
    padding-right: 2vh;
  }
}
